<!-- to hide button on small screens, add w3-hide-small -->
<div class="w3-top" style="color: rgb(255, 255, 255);">
    <div class="w3-bar w3-black w3-card">
        <a href="index.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hide-medium" title="Home">
            <img src="img/logotrasp.png" style="height:25px; margin-bottom: 0px; margin-top: -4px"></a>
        <a href="history.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hide-medium">STORIA</a>
        <a href="links.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hide-medium">LINKS</a>
        <a href="ideas.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hide-medium">IDEE</a>
        <a href="galleria.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hide-medium">GALLERIA</a>
        <a href="lavori.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hide-medium">LAVORI</a>
        <div class="w3-dropdown-hover w3-hide-small w3-hide-medium">
            <button class="w3-padding-large w3-button">ALTRO <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-black">
                <a href="archivio.html" class="w3-bar-item w3-button">ARCHIVIO STORICO</a>
                <a href="documentazione.html" class="w3-bar-item w3-button">DOCUMENTAZIONE</a>
                <a href="parola-di-pirata.html" class="w3-bar-item w3-button">PAROLA DI PIRATA</a>
            </div>
        </div>

        <div class="w3-dropdown-hover w3-hide-large ">
            <button class="w3-padding-large w3-button" title="More">&#9776 <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="index.html" class="w3-bar-item w3-button">HOME</a>
                <a href="history.html" class="w3-bar-item w3-button ">STORIA</a>
                <a href="links.html" class="w3-bar-item w3-button">LINKS</a>
                <a href="ideas.html" class="w3-bar-item w3-button">IDEE</a>
                <a href="galleria.html" class="w3-bar-item w3-button">GALLERIA</a>
                <a href="lavori.html" class="w3-bar-item w3-button">LAVORI</a>
                <a href="archivio.html" class="w3-bar-item w3-button">ARCHIVIO STORICO</a>
                <a href="documentazione.html" class="w3-bar-item w3-button">DOCUMENTAZIONE</a>
                <a href="parola-di-pirata.html" class="w3-bar-item w3-button">PAROLA DI PIRATA</a>
            </div>
        </div>
    </div>
</div>
