<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ page.title | default: site.title }}</title>
    <link rel="shortcut icon" href="img/logotrasp.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/w3style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

{% include navbar.html %}

<div class="w3-content" style="max-width:2000px;margin-top:46px;">
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px">
        {{ content }}
    </div>
</div>

{% include footer.html %}

<script src="js/main.js"></script>

</body>
</html>
